
img {
  border-radius: 10px;
}
.navbar-custom {
  background: #24304B; */
}
.navbar-custom .navbar-brand {
    color: aliceblue;
}
.navbar-custom .navbar-nav li a {
    color: white;
}
header {
  background: #325199;
}
section.success {
  background: #325199;
}
section {
  background: ;
}
footer .footer-above {
    background-color: #325199;
}
footer .footer-below {
    background-color: #24304B;
}
.icons {
  font-size: 5em;
}
h2 {
  letter-spacing: 2px;
}
