.googlefont {
  margin-right: 25px;
  font-family: 'Pathway Gothic One', sans-serif;
}

body {
  background: url(http://i.imgur.com/RjATI2r.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.button {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 25px;
  color: 6CA398;
  padding: 10px 10px 10px 10px;
  border-radius: 25px;
  border: 2px solid #46b8da;
}

.twitter {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 25px;
  color: 6CA398;
  padding: 10px 10px 10px 10px;
  border-radius: 25px;
  border: 2px solid #46b8da;
  background-color: #5bc0de;
}

.content {
  text-align: right;
  width:400px;
  position: absolute;
  right: 15px;
}

a {
  text-decoration: none;
}
