* {
  margin: 10px auto;
}
body {
  background-color: #202020;
  font-family: 'Days One', sans-serif;
}
#screen {
  background: #94AFB5;
  width: 400px;
  height: 100px;
  font-size: 50px;
  border-radius: 10px;
  padding-right: 5px;
}
#history {
  color: #42707B;
  font-size: 13pt;
  position: relative;
  bottom: 10px;
  padding-right: 5px;
}
.calculator {
  font-size: 25px;
  position: relative;
  text-align: center;
  width: 410px;
  height: 550px;
  padding: 2px;
  background: #5591C3;
  border-radius: 15px;
  font-weight: bold;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
}
button {
  margin: 2px;
  width: 85px;
  height: 55px;
  background-color: #084D87;
  color: #D17900;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: 0 5px #053C6A;
  padding: 5px;
  vertical-align: top;
}
button:active {
  background-color: #084D87;
  box-shadow: 0 5px #053C6A;
  transform: translateY(4px);
}
#zero {
  width: 181px;
}
#ac, #ce {
  background-color: #EC0000;
  box-shadow: 0 5px #BC0000;
  color: #814B00;
}
.last-row {
  position: absolute;
  bottom: 16px;
  left: 31px;
}
#equals {
  height: 125px;
  font-size: 45px;
}
.footer {
  font-size: 10pt;
  color: #D17900;
}
